/* Google font import*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Macondo&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Inter", sans-serif;
    --secondary-font: "Macondo", cursive;
    --primary-color: #3a2620; /* dark brown */
    --secondary-color: #aa9581; /* light brown */
    --highlight-color: #416a8e; /* blue */
    --highlight-color-light: #7a9fc2; /* light blue */
}

/* Global styles */

body {
    font-family: var(--primary-font);
}

h1,
h2,
h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
    
}
h1,
h2 {
    text-transform: uppercase;

}
h2 {
    margin-bottom: 2rem;
}
.sub-heading-color {color: var(--highlight-color);}

.section {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/*Navbar*/
#navbar {
    background-color: var(--primary-color);
}
#navbar .logo {
    width: 30px;
}
/*Header*/
#header .lead {
    font-family: var(--secondary-font);
}
/*Services*/
#services .card-footer {
    font-weight: bold;
    color: var(--highlight-color);
    background-color: transparent;
}
#services .card {
    margin-bottom: 1.5rem;
}

/*Games library cards*/


#new-games .card,
#fav-games .card {
    border: none;
}

/* Footer / Contact */

#contact {
    background-color: var(--primary-color);
    color: white;
    padding-bottom: 3rem;
}
#contact h2 {
    color: white;
}
#contact .sub-heading-color {
    color: var(--highlight-color-light);
}
#contact i {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-right: 15px;
}
#contact .social-links i {
    color: var(--highlight-color-light);
    font-size: 1.9rem;
    transition: color 0.3 ease-in-out;
}
#contact .social-links i:hover {
    color: var(--secondary-color);
}

/*Media queries*/

/*Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {
    /*Make all service cards the same height for consistency*/
    #services .card-body {
        min-height: 268px;
    }
    #new-games .card-body {
        min-height: 237px;
    }
    #fav-games .card-body {
        min-height: 297px;
    }
}
/*Large screens, 1200px and more*/
@media screen and (min-width: 1200px) {
    /*Make all service cards the same height for consistency*/
    #services .card-body {
        min-height: 374px;
    }
    #new-games .card-body {
        min-height: 392px;
    }
    #fav-games .card-body {
        min-height: 392px;
    }
}
/*Extra Large screens, 1400px and more*/
@media screen and (min-width: 1400px) {
    /*Make all service cards the same height for consistency*/
    #services .card-body {
        min-height: 302px;
    }
    #new-games .card-body {
        min-height: 270px;
    }
    #fav-games .card-body {
        min-height: 362px;
    }
}